<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partialA/head %>
  </head>
  <body>
    <div class="wrapper">
      <% include ../partialA/main_header %>

      <!-- Sidebar -->
      <% include ../partialA/sidebar %>
      <!-- End Sidebar -->

      <div class="main-panel">
        <div class="content">
          <div class="panel-header bg-primary-gradient">
            <div class="page-inner py-5">
              <div
                class="d-flex align-items-left align-items-md-center flex-column flex-md-row"
              >
                <div>
                  <h2 class="text-white pb-2 fw-bold">Dashboard</h2>
                  <h5 class="text-white op-7 mb-2">Shwe Myay Real Estimate</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="page-inner mt--5">
            <div class="row mt--2">
              <div class="col-md-12">
                <div class="card full-height">
                  <div class="card-body">
                    <div class="card-title">Agent & Property Daily</div>
                    <div class="card-category">
                      Daily information about statistics in system
                    </div>
                    <div
                      class="d-flex flex-wrap justify-content-around pb-1 pt-2"
                    >
                      <div class="card card-stats card-round">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col-icon">
                              <div
                                class="icon-big text-center icon-primary bubble-shadow-small"
                              >
                                <i class="flaticon-users"></i>
                              </div>
                            </div>
                            <div class="col col-stats ml-1 ml-sm-0">
                              <div class="numbers">
                                <p class="card-category">Instresting</p>
                                <h4 class="card-title">34</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card card-stats card-round">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col-icon">
                              <div
                                class="icon-big text-center icon-success bubble-shadow-small"
                              >
                                <i class="flaticon-home"></i>
                              </div>
                            </div>
                            <div class="col col-stats ml-1 ml-sm-0">
                              <div class="numbers">
                                <p class="card-category">New Property</p>
                                <h4 class="card-title">94</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card card-stats card-round">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col-icon">
                              <div
                                class="icon-big text-center icon-secondary bubble-shadow-small"
                              >
                                <i class="flaticon-user"></i>
                              </div>
                            </div>
                            <div class="col col-stats ml-1 ml-sm-0">
                              <div class="numbers">
                                <p class="card-category">New Agent</p>
                                <h4 class="card-title">1</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <div class="card-title">Recent Property</div>
                  </div>
                  <div class="card-body pb-0">
                    <div class="d-flex">
                      <div class="avatar">
                        <img
                          src="/adassets/img/logoproduct.svg"
                          alt="..."
                          class="avatar-img rounded-circle"
                        />
                      </div>
                      <div class="flex-1 pt-1 ml-2">
                        <h6 class="fw-bold mb-1">CSS</h6>
                        <small class="text-muted">Cascading Style Sheets</small>
                      </div>
                      <div class="d-flex ml-auto align-items-center">
                        <h3 class="text-info fw-bold">+$17</h3>
                      </div>
                    </div>
                    <div class="separator-dashed"></div>
                    <div class="d-flex">
                      <div class="avatar">
                        <img
                          src="/adassets/img/logoproduct.svg"
                          alt="..."
                          class="avatar-img rounded-circle"
                        />
                      </div>
                      <div class="flex-1 pt-1 ml-2">
                        <h6 class="fw-bold mb-1">J.CO Donuts</h6>
                        <small class="text-muted">The Best Donuts</small>
                      </div>
                      <div class="d-flex ml-auto align-items-center">
                        <h3 class="text-info fw-bold">+$300</h3>
                      </div>
                    </div>
                    <div class="separator-dashed"></div>
                    <div class="d-flex">
                      <div class="avatar">
                        <img
                          src="/adassets/img/logoproduct3.svg"
                          alt="..."
                          class="avatar-img rounded-circle"
                        />
                      </div>
                      <div class="flex-1 pt-1 ml-2">
                        <h6 class="fw-bold mb-1">Ready Pro</h6>
                        <small class="text-muted"
                          >Bootstrap 4 Admin Dashboard</small
                        >
                      </div>
                      <div class="d-flex ml-auto align-items-center">
                        <h3 class="text-info fw-bold">+$350</h3>
                      </div>
                    </div>
                    <div class="separator-dashed"></div>
                    <div class="pull-in">
                      <canvas id="topProductsChart"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body">
                    <div class="card-title fw-mediumbold">Recnt Agents</div>
                    <div class="card-list">
                      <div class="item-list">
                        <div class="avatar">
                          <img
                            src="/adassets/img/jm_denis.jpg"
                            alt="..."
                            class="avatar-img rounded-circle"
                          />
                        </div>
                        <div class="info-user ml-3">
                          <div class="username">Jimmy Denis</div>
                          <div class="status">Graphic Designer</div>
                        </div>
                        <button
                          class="btn btn-icon btn-primary btn-round btn-xs"
                        >
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                      <div class="item-list">
                        <div class="avatar">
                          <img
                            src="/adassets/img/chadengle.jpg"
                            alt="..."
                            class="avatar-img rounded-circle"
                          />
                        </div>
                        <div class="info-user ml-3">
                          <div class="username">Chad</div>
                          <div class="status">CEO Zeleaf</div>
                        </div>
                        <button
                          class="btn btn-icon btn-primary btn-round btn-xs"
                        >
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                      <div class="item-list">
                        <div class="avatar">
                          <img
                            src="/adassets/img/talha.jpg"
                            alt="..."
                            class="avatar-img rounded-circle"
                          />
                        </div>
                        <div class="info-user ml-3">
                          <div class="username">Talha</div>
                          <div class="status">Front End Designer</div>
                        </div>
                        <button
                          class="btn btn-icon btn-primary btn-round btn-xs"
                        >
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                      <div class="item-list">
                        <div class="avatar">
                          <img
                            src="/adassets/img/mlane.jpg"
                            alt="..."
                            class="avatar-img rounded-circle"
                          />
                        </div>
                        <div class="info-user ml-3">
                          <div class="username">John Doe</div>
                          <div class="status">Back End Developer</div>
                        </div>
                        <button
                          class="btn btn-icon btn-primary btn-round btn-xs"
                        >
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                      <div class="item-list">
                        <div class="avatar">
                          <img
                            src="/adassets/img/talha.jpg"
                            alt="..."
                            class="avatar-img rounded-circle"
                          />
                        </div>
                        <div class="info-user ml-3">
                          <div class="username">Talha</div>
                          <div class="status">Front End Designer</div>
                        </div>
                        <button
                          class="btn btn-icon btn-primary btn-round btn-xs"
                        >
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                      <div class="item-list">
                        <div class="avatar">
                          <img
                            src="/adassets/img/jm_denis.jpg"
                            alt="..."
                            class="avatar-img rounded-circle"
                          />
                        </div>
                        <div class="info-user ml-3">
                          <div class="username">Jimmy Denis</div>
                          <div class="status">Graphic Designer</div>
                        </div>
                        <button
                          class="btn btn-icon btn-primary btn-round btn-xs"
                        >
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% include ../partialA/footer %>
      </div>
    </div>
    <!--   Core JS Files   -->
    <script src="/adassets/js/core/jquery.3.2.1.min.js"></script>
    <script src="/adassets/js/core/popper.min.js"></script>
    <script src="/adassets/js/core/bootstrap.min.js"></script>

    <!-- jQuery UI -->
    <script src="/adassets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="/adassets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="/adassets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- Chart JS -->
    <script src="/adassets/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="/adassets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="/adassets/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="/adassets/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="/adassets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- jQuery Vector Maps -->
    <script src="/adassets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
    <script src="/adassets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

    <!-- Sweet Alert -->
    <script src="/adassets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Atlantis JS -->
    <script src="/adassets/js/atlantis.min.js"></script>

    <!-- Atlantis DEMO methods, don't include it in your project! -->
    <!-- <script src="/adassets/js/setting-demo.js"></script> -->
    <!-- <script src="/adassets/js/demo.js"></script> -->
  </body>
</html>
