<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <% include ./partial/head %>

    <link rel="stylesheet" href="/assets/css/lightslider.min.css" />
  </head>
  <body>
    <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
    <!-- Body content -->

    <% include ./partial/navbar %>
    <!-- End of nav bar -->

    <div class="page-head">
      <div class="container">
        <div class="row">
          <div class="page-head-content">
            <h1 class="page-title">ဆက်သွယ်ရန်</h1>
          </div>
        </div>
      </div>
    </div>
    <div
      class="content-area recent-property padding-top-40"
      style="background-color: #fff"
    >
      <div class="container">
        <div class="col-md-1"></div>
        <div class="col-md-9">
          <div class="" id="contact1">
            <div class="row">
              <div class="col-sm-4">
                <h3><i class="fa fa-map-marker"></i> လိပ်စာ</h3>
                <p>
                  ကွန်ပျူတာတက္ကသိုလ်(ပြည်)<br />ပြည်-အောင်လံ လမ်းမကြီးဘေး
                  <br />ပြည်မြို့ <br />ပဲခူးတိုင်းဒေသကြီး
                  <br />
                  <!-- <strong>မြန်မာ</strong> -->
                </p>
              </div>
              <!-- /.col-sm-4 -->
              <div class="col-sm-4">
                <h3><i class="fa fa-phone"></i> ဖုန်းခေါ်ဆိုရန်</h3>
                <p class="text-muted">
                  ဤ Website နှင့်ပတ်သက်ပြီး အကြံပြုလိုသည်ဖြစ်စေ၊ ကြော်ငြာများထည့်သွင်းလိုသည်ဖြစ်စေ အောက်ပါဖုန်းနံပါတ်ကိုဆက်သွယ်နိုင်ပါသည်။
                </p>
                <p><strong>+95 926 197 5337</strong></p>
              </div>
              <!-- /.col-sm-4 -->
              <div class="col-sm-4">
                <h3><i class="fa fa-envelope"></i> အီးမေးလ်ဖြင့်ဆက်သွယ်ရန်</h3>
                <p class="text-muted">
                 အီးမေးလ်ဖြင့်လည်း အကြံပြုစာများကို လွတ်လပ်စွာ ပေးပို့နိုင်ပါသည်။
                </p>
                <ul>
                  <li>
                    <strong
                      ><a href="mailto:shwemyay.mm@gmail.com"
                        >shwemyay.mm@gmail.com</a
                      ></strong
                    >
                  </li>
                </ul>
              </div>
              <!-- /.col-sm-4 -->
            </div>
            <!-- /.row -->

            <hr />
            <h2>ဆက်သွယ်ရန်/အကြံပြုရန်</h2>
            <form>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="firstname">အမည်</label>
                    <input
                      type="text"
                      name="firstname"
                      class="form-control"
                      id="firstname"
                    />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="lastname">အကြံပြုလိုသည့်အကြောင်းအရာ</label>
                    <select name="type" id="rtype" class="form-control">
                      <option value="info">အချက်အလက်ပေးပို့ရန်</option>
                      <option value="report">အစီရင်ခံစာတင်ပြရန်</option>
                      <option value="feedback">အကြံပြုစာပေးပို့ရန်</option>
                      <option value="upgrade">Premium အကောင့်ပြောင်းရန်</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="email">အီးမေးလ်</label> 
                    <input
                      type="text"
                      name="email"
                      class="form-control"
                      id="email"
                    />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="subject">ခေါင်းစဥ်</label>
                    <input
                      type="text"
                      name="subject"
                      class="form-control"
                      id="subject"
                    />
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="message">ပေးပို့ရန်အသေးစိတ်အချက်အလက်များ</label>
                    <textarea
                      id="message"
                      name="message"
                      class="form-control"
                    ></textarea>
                  </div>
                </div>
                <div class="col-sm-12 text-center">
                  <button
                    type="button"
                    class="btn btn-primary"
                    onclick="submitContact()"
                  >
                    <i class="fa fa-envelope-o"></i>ပေးပို့မည်
                  </button>
                </div>
              </div>
              <!-- /.row -->
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="largeModalLabel">ကျေးဇူးတင်ပါသည်</h4>
          </div>
          <div class="modal-body">
            <p>
              ကျွန်ပ်တို့ကိုဆက်သွယ်ခြင်းအတွက်ကျေးဇူးတင်ပါသည်။ 
              မကြာမှီ အချိန်အတွင်း ပြန်လည် ဆက်သွယ် ပေးပါမည်။
              ကောင်းသောနေ့လေး ဖြစ်ပါစေ။
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger waves-effect"
              data-dismiss="modal"
            >
              ပိတ်မည်
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer area-->
    <% include ./partial/footer %> <% include ./partial/script %>
  </body>
  <script>
    var $modal = $("#modal");
    function submitContact(id, type) {
      const data = {
        name: $("#firstname").val(),
        rtype: $("#rtype").val(),
        email: $("#email").val(),
        subject: $("#subject").val(),
        message: $("#message").val(),
      };
      $.ajax("/contact", {
        method: "POST",
        data: data,
        success: function (result) {
          if (result.status == "done") {
            $modal.modal("show");
            $("#firstname").val("");
            $("#rtype").val("");
            $("#email").val("");
            $("#subject").val("");
            $("#message").val("");
          } else {
            alert("Something was wrong, please check your fields");
          }
        },
      });
    }
  </script>
</html>
