<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#navigation"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/images/wy.png" alt="" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse yamm" id="navigation">
      <div class="button navbar-right">
        <% if(locals.user){%>
        <button
          class="navbar-btn nav-button wow bounceInRight login"
          onclick="location.href = '/logout'"
          data-wow-delay="0.4s"
        >
          ထွက်မည်
        </button>
        <%}else{%>
        <button
          class="navbar-btn nav-button wow bounceInRight login"
          onclick="location.href = '/register'"
          data-wow-delay="0.4s"
        >
          ဝင်မည်
        </button>
        <%}%>
        <button
          class="navbar-btn nav-button wow fadeInRight"
          onclick="location.href = '/submit_property'"
          data-wow-delay="0.5s"
        >
          ပို့စ်တင်မည်
        </button>
      </div>
      <ul class="main-nav nav navbar-nav navbar-right">
        <li class="wow fadeInDown" data-wow-delay="0.1s">
          <a class="" href="/">ပင်မစာမျက်နှာ</a>
        </li>
        <li class="wow fadeInDown" data-wow-delay="0.1s">
          <a class="" href="/properties">အိမ်ခြံမြေများ</a>
        </li>

        <li class="wow fadeInDown" data-wow-delay="0.4s">
          <a href="/contact">ဆက်သွယ်ရန်</a>
        </li>
        <% if(locals.user){%>
        <li class="wow fadeInDown" data-wow-delay="0.4s">
          <a href="/myprofile">ကျွန်ုပ်၏စာမျက်နှာ</a>
        </li>
        <li class="wow fadeInDown" data-wow-delay="0.4s">
          <a href="/myproperties">ကျွန်ုပ်၏အိမ်ခြံမြေများ</a>
        </li>
        <%}%>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
