<div class="sidebar sidebar-style-2">
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <div class="user">
        <div class="avatar-sm float-left mr-2">
          <img
            src="/adassets/img/profile.jpg"
            alt="..."
            class="avatar-img rounded-circle"
          />
        </div>
        <div class="info">
          <a aria-expanded="true">
            <span>
              <%= locals.admin.name %>
              <span class="user-level">Administrator</span>
            </span>
          </a>
          <div class="clearfix"></div>
        </div>
      </div>
      <ul class="nav nav-primary">
        <li class="nav-item active">
          <a
            data-toggle="collapse"
            href="/admin"
            class="collapsed"
            aria-expanded="false"
          >
            <i class="fas fa-home"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-section">
          <span class="sidebar-mini-icon">
            <i class="fa fa-ellipsis-h"></i>
          </span>
          <h4 class="text-section">Management</h4>
        </li>
        <li class="nav-item">
          <a data-toggle="collapse" href="#agent">
            <i class="fas fa-users"></i>
            <p>Agent</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="agent">
            <ul class="nav nav-collapse">
              <li>
                <a href="/admin/agentlist">
                  <span class="sub-item">List</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a data-toggle="collapse" href="#property">
            <i class="fas fa-home"></i>
            <p>Property</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="property">
            <ul class="nav nav-collapse">
              <li>
                <a href="/admin/properties">
                  <span class="sub-item">List</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a data-toggle="collapse" href="#ads">
            <i class="fas fa-pen-square"></i>
            <p>Ads</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="ads">
            <ul class="nav nav-collapse">
              <li>
                <a href="/admin/adsadd">
                  <span class="sub-item">Add Ads</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
